{% extends "base.html" %}

{% block content %}
<title>{% block head_title %}Parag's Blog - {{ block.super }} {% endblock head_title %}</title>
<main role="main">
  <div class="container">
    <h1 class="text-center pt-4">Welcome to My Blog</h1>
    <br/>
    <br/>
    <h2>Latest Posts</h2>
    <br/>
    {% for blog in Blogs %}
    <a href="{% url 'blog-detail' blog.id %}"><h3>{{ blog.title }}</h3></a>
    <li> {{ blog.pub_date_pretty }} </li>
    <br/>
    <img class="img-fluid" src= {{ blog.image.url }} height=800 width=800>
    <br/>
    <br/>
    <p>{{ blog.summary }}</p>
    {% endfor %}
  </div>
</main>
{% endblock content %}
