{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<title>{% block head_title %}{{ block.super }}{% endblock head_title %}</title>
  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Hi I'm Parag Raut</h1>
        <p class="lead text-muted">Developer, Test Automator, Functional Tester, ETC</p>
        <p>
          <a href="mailto:parag.raut@outlook.com" class="btn btn-primary my-2">Email Me</a>
          <!-- <a href="#" class="btn btn-secondary my-2">About</a> -->
        </p>
        <img class="img-fluid" src="{% static 'ParagRaut.jpg' %}" alt="" height=800 width=600>
      </div>
    </section>
    </div>

    <div class="album py-5 bg-light">
      <h4 class="text-center">Assignments</h4>
      <br/>
      <div class="container">
        <div class="row">
          {% for job in  Jobs %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src= {{ job.image.url }}>
              <div class="card-body">
                <p class="card-text">{{ job.summary }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
